name: Build and Release Tokens Package

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://npm.pkg.github.com/
      - run: npm install
      - run: npm run tokens.transform
      - run: npm run tokens.build
      - run: git status
      - name: "Automated Version Bump"
        uses: "phips28/gh-action-bump-version@master"
        env:
          GITHUB_TOKEN: ${{ secrets.DESIGNTOKENS_TOKEN }}
        with:
          version-type: "patch"
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.DESIGNTOKENS_TOKEN }}
